.header {
    height: 30vh;
    width: 100vw;
    background-color: #333;
}

.forest-header {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/forest-header.png') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.ocean-header {
    position: absolute;
    top: 30vh;
    left: 0;
    background: url('/assets/ocean-header.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.night-header {
    position: absolute;
    top: 60vh;
    left: 0;
    height: 40vh;
    background: url('/assets/night-header.png') no-repeat;
    background-size: cover;
    background-position: center;
}